<div class="profile-img-container">

    <!-- <div class="heading">
        <h1>User Profile</h1>
    </div> -->

    <section class="my-profile">

        <div class="login-info">
            <span class="icon-holder"></span>
            <h1>Username</h1>
            <p>{{userInfo.username}}</p>
            <h1>Email</h1>
            <p>{{userInfo.email}}</p>
            <button class="edit-btn">Edit</button>
        </div>

        <div class="user-input">
            <div>
                <h1>Likes</h1>
                <p>5</p>
            </div>

            <div>
                <h1>My Athletes</h1>
                <p>3</p>
            </div>

        </div>

    </section>


</div>