* {
    font-family: "Poppins", sans-serif
}

.background-style {
    background-image: url('../../../assets/details.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(121, 121, 121);
    background-blend-mode: multiply;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80vw;
    height: 65vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* gap: .5rem; */
}

img {
    width: 100%;
    height: 65vh;
    object-fit: cover;

    grid-column: 1 / 2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.details {
    grid-column: 2 / 3;
    background-color: rgb(212, 210, 210, .7);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    position: relative;
}

.likes-info {
    position: absolute;
    top: 2%;
    right: 5%;
}

.likes-info p {
    text-align: center;
    margin-top: .5rem;
}

.likes-info::before {
    display: block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: '\f004';
    color:red;
    font-size: 1.5rem;
}

.details h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;

}

.details span {
    font-weight: normal;
    font-style: italic;
}

.buttons {
    padding-top: 2rem;
}

button {
    border: 0;
    padding: .7rem 1.7rem;
    margin: 0.5rem 1rem;
    font-size: .9rem;
    border-radius: 10px;
    cursor: pointer;
}

.edit {
    background: rgb(103, 167, 103);
}

.edit:hover {
    background: rgb(75, 141, 75);
    /* outline: 1px solid rgb(140, 211, 167); */
}

.delete {
    background: rgb(228, 106, 106);

}

.delete:hover {
    background: rgb(207, 77, 77);
    /* outline: 1px solid rgb(253, 167, 167); */
}


@media (max-width: 800px) {
    .background-style {
        padding: 15rem 0;
        height: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    img {
        height: 350px;
        width: 350px;
        /* object-position: center; */
        /* object-fit: contain; */

        border-radius: 10px;
    }

    .details {
        width: 70vw;
        border-radius: 10px;
    }

    .details h1 {
        font-size: 1rem;
    }


}