<div class="background-style">
    
    <section class="container">
        <img src="{{athleteDetails.imgUrl}}" alt="">
        
        <div class="details">
            <h1>Name: <span>{{athleteDetails.name}}</span></h1>
            <h1>Age: <span>{{athleteDetails.age}}</span></h1>
            <h1>Country: <span>{{athleteDetails.country}}</span></h1>
            <h1>Achievements: <span>{{athleteDetails.achievements}}</span></h1>

            <div class="buttons" *ngIf="athleteDetails.isOwner">
                <button class="edit" (click)="handleEdit()">Edit</button>
                <button class="delete" (click)="handleDelete()">Delete</button>
            </div>
        </div>

    <app-confirmation-dialog *ngIf="this.confirmationService.confirmationDialog()"/> 
    </section>

</div>

