:host {
	--text-color: rgb(39, 37, 37);
	--blend-mode-color: rgb(139, 133, 133);
}

* {
    font-family: "Poppins", sans-serif
}

.user-form-img-container {
    background-image: url('../../../assets/home-page-two.jpg');;
}

