* {
    font-family: "Poppins", sans-serif
}

.edit-form-img-container {
    background-image: url(../../../assets/edit.jpg);
    background-color: rgb(114, 104, 104);
	background-blend-mode: multiply;
}

input {
    color: black;
}

button {
    all: unset;
    padding: .7rem 1.4rem;
    border-radius: .5rem;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-evenly;

    padding-top: 1rem;
}

.cancel-btn {
    background: rgb(197, 60, 60);
}

.cancel-btn:hover {
    background-color: rgb(141, 33, 33);
}

.edit-btn {
    background: rgb(67, 155, 67);
}

.edit-btn:hover {
    background: rgb(24, 124, 24);
}