<div class="edit-form-img-container">
    <form class="edit-form" [formGroup]="editForm" (submit)="handleEdit()">
        <h1>Edit Athlete</h1>

        <label for="name">Name</label>
        <input 
        type="text" 
        name="name" 
        id="name"
        value="{{athleteDetails.name}}">

        <label for="age">Age</label>
        <input 
        type="text" 
        name="age" 
        id="age"
        value="{{athleteDetails.age}}">

        <label for="country">Country</label>
        <input 
        type="text" 
        name="country" 
        id="country"
        value="{{athleteDetails.country}}">

        <label for="achievements">Achievements</label>
        <input 
        type="text" 
        name="achievements" 
        id="achievements"
        value="{{athleteDetails.achievements}}">

        <label for="imgUrl">Image</label>
        <input 
        type="text" 
        name="imgUrl" 
        id="imgUrl"
        value="{{athleteDetails.imgUrl}}">

        <div class="buttons">
            <button class="edit-btn">Edit</button>
            <button class="cancel-btn" (click)="handleCancel($event)">Cancel</button>
        </div>

    </form>

</div>
