<div class="edit-form-img-container">
    <form class="edit-form" [formGroup]="editForm" (submit)="handleEdit()">
        <h1>Edit Athlete</h1>

        <label for="name">Name</label>
        <input type="text" name="name" id="name">

        <label for="age">Age</label>
        <input type="text" name="age" id="age">

        <label for="country">Country</label>
        <input type="text" name="country" id="country">

        <label for="achievements">Achievements</label>
        <input type="text" name="achievements" id="achievements">

        <label for="imgUrl">Image</label>
        <input type="text" name="imgUrl" id="imgUrl">

        <button>Edit</button>
        <button>Cancel</button>

    </form>

</div>
