:host {
	--text-color: rgb(39, 37, 37);
	--blend-mode-color: rgb(139, 133, 133);
}

.background-styles {
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/dashboard-new.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--blend-mode-color);
    background-blend-mode: multiply;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
    padding: 9rem 0;
    gap: 3rem;
}

.card {
    width: 25vw;
    border-radius: 1rem;
    background-color: rgb(223, 223, 223, .8);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
    padding: 1em 1.3em;
    max-height: 15rem;
    min-height: 13rem;
    object-fit: contain;
}

.card h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.dashboard-text {
    color: white;
    text-align: center;
    padding-top: 10rem;
}

.dashboard-text h1 {
    font-size: 3.7rem;
    font-weight: 500;
    padding: 0 3.5rem;
}

.dashboard-text h2 {
    font-size: 2rem;
    padding: 1.5rem 5.5rem 0 5.5rem;
    color: whitesmoke;
}

a {
    all: unset;
}

@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
    }

    .card {
        width: 25rem;
    }
}