<ng-container *ngIf="isLoading">
    <app-loader></app-loader>
</ng-container>

<div *ngIf="!isLoading" class="background-styles">
    <section class="dashboard-text">
        <h1 class="dashboard">Below you can view the Top Athletes as rated by our community.</h1>
        <h2>Logged in users can also contribute by adding athletes to the list.</h2>
    </section>

    <div class="card-container">
        <a *ngFor="let athlete of athleteList" routerLink="{{athlete._id}}">
            <div class="card">
                <img src="{{athlete.imgUrl}}" alt="{{athlete.name}}">
                <h1>{{athlete.name}}</h1>
            </div>
        </a>

    </div>
</div>