.container {
    height: 100vh;
    width: 100vw;
    background-image: url('../../../assets/dashboard-pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: var(--blend-mode-color);
}