.athlete-form-img-container {
    height: 100vh;
    background-image: url(../../../assets/create.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(141, 129, 129);
}

