ul {
    position: fixed;
    width: 100vw;
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    list-style-type: none;
    cursor: pointer;
}

ul li a {
    font-weight: 600;
}

a {
    all: unset
}