/* RESET STYLES */

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF RESET STYLES */


/* LOGIN AND REGISTER FORM STYLES  */

:host {
	--text-color: rgb(39, 37, 37);
	--blend-mode-color: rgb(107, 106, 106);
}

.user-form-img-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--blend-mode-color);
    background-blend-mode: multiply;
    height: 100vh;
    width: 100vw;
    display: flex;
	justify-content: center;
	align-items: center;  
}

.user-form {
	padding: 5rem 7rem;
	background: rgba(192, 191, 191, 0.8);
	border-radius: .5rem;
	position: relative;
}

.user-form label {
	color: var(--text-color);
	font-size: 1.1rem;
}

.user-form input {
	display: block;
	margin: .5rem 0;
	padding: .7rem 2.5rem;
	border-radius: .5rem;
	background-color: rgb(237, 241, 245, .5);
	border: 0;
}

.user-form button {
	width: 100%;
	padding: .5rem 1rem;
	margin-top: 1rem;
	color: var(--text-color);
	background-color: rgb(152, 180, 152);
	border: 0;
	border-radius: .5rem;
	cursor: pointer;
}

.user-form button:hover {
	background-color: rgb(58, 75, 58);
}

.user-form h1 {
	font-size: 3rem;
	position: absolute;
	top: 0;
	margin: 0;
	color: var(--text-color);
	padding: .7rem 0;
	width: 14.3rem;
	text-align: center;
}

.user-form-validation-errors {
	color: red;
	margin-bottom: 1rem;
	font-size: 1rem;
	width: 28ch;
}

.user-form-btn[disabled],
.user-form-btn[disabled]:hover {
	background: red
}

/* END OF LOGIN AND REGISTER FORM STYLES */